/*<!--For X-small device-->*/

@media (max-width: 767px) {
    .my-slider .owl-carousel .item{
        height: 220px;
    }
    .my-slider .owl-carousel .item img{
        height: 220px;
    }
    #footer .icons .bx{
        font-size: 13px;
    }
    #footer .icons li{
        width: 15.9%;
    }
    .flickr-gallery .img img{
        height: 80px;
    }
}


/*<!--For small device-->*/

@media only screen and (min-width:768px) and (max-width: 991px) {
   .my-slider .owl-carousel .item{
    height: 300px;
}
.my-slider .owl-carousel .item img{
    height: 300px;
}
#footer .icons .bx{
    font-size: 16px;
}
}


/*<!--For medium device-->*/

@media only screen and (min-width:992px) and (max-width: 1199px) {
   .my-slider .owl-carousel .item{
    height: 350px;
}
.my-slider .owl-carousel .item img{
    height: 350px;
}
}


/*<!--For Large device-->*/

@media (min-width:1200px) {
   .my-slider .owl-carousel .item{
    width: 100%;
    height: 550px;
}
.my-slider .owl-carousel .item img{
    height: 550px;
    width: 100% !important;
}
    
}

